:root {
  --primary-color: #ff8906;
  --secondary-color: #e5306f;
  --text-dark: #0e0d16;
  --text-light: #767268;
  --extra-light: #f7f8fd;
  --white: #ffffff;
  --max-width: 1200px;
  --primary-font: "Montserrat", sans-serif;
  --shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: flex;
  width: 100%;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

li {
  list-style: none;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-family: var(--primary-font);
}

.btn {
  outline: none;
  border: none;
  background-color: var(--primary-color);
  padding: 0.75rem 1.5rem;
  text-align: center;
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: var(--shadow);
}

.nav__header {
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.2rem;
}
.nav__menu__btn {
  color: var(--white);
  font-size: 1.25rem;
  cursor: pointer;
}

.nav__links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--primary-color);
  transition: transform 0.5s;
  z-index: -1;
}
.nav__links.open {
  transform: translateY(100%);
  z-index: 10;
}

.nav__links a {
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
}

.nav__btns {
  display: none;
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 1rem;
    max-width: var(--max-width);
    display: flex;
    margin-inline: auto;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: 2px solid var(--extra-light);
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    color: var(--text-dark);
  }
  .nav__logo a span {
    color: var(--secondary-color);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    width: fit-content;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none !important;
  }

  .nav__links a {
    color: var(--text-light);
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }

  .nav__btns {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
}
