@import "tailwindcss";

@theme {
    --color-primary-color: #4a90e2;
    
    --color-secondary-color: #A0E318;
  --font-headings-font: "Fredoka", sans-serif;
  --font-body-font: "Cantarell", sans-serif;
}
