@import "tailwindcss";

@theme {
    --color-primary-color: #A0E318;
    
    --color-secondary-color: #1a241f;
  --font-headings-font: "Fredoka", sans-serif;
  --font-body-font: "Cantarell", sans-serif;
}
